
VITE_GEMINI_API_KEY=sua_chave_gemini_aqui


VITE_SECRETARIA=Secretaria Municipal de Habitação e Regularização Fundiária
VITE_NORMATIVA=Lei Federal nº 13.465/2017
VITE_SECRETARIO=Nome do Secretário
VITE_CARGO_SECRETARIO=Secretário(a) Municipal de Habitação


VITE_API_URL=http://localhost:8000